@model System.Data.DataTable
@using System.Data;
@using System.Globalization;
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberDecimalDigits = 0;

}

<link rel="stylesheet" type="text/css" href="/css/result-light.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type='text/javascript' src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<style type='text/css'>
    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 15px;
        color: #fff !important;
        opacity: 0.7;
    }

    .hidden {
        display: none;
    }

    tr:hover th, tr:hover td {
        background-color: #ebebeb;
        background-image: none;
    }

    td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }
</style>



<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"></script>

<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yymm',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
    });
</script>



<title>自串點數發票檔</title>

<h2>自串點數發票檔</h2>

@using (Html.BeginForm("Index", "ICASHOPInvoiceFile", FormMethod.Post, new { id = "searchForm" }))
{
<div>
    <label for="startDate">報表年月：</label>
    <input type="text" name="TARGET_MONTH" id="TARGET_MONTH" value="@ViewBag.TARGET_MONTH" style="width:100px;" class="date-picker" />
    <label for="group">機構群組：</label>
    <input type="checkbox" name="MerchantGroup" id="TaiYa" value="TaiYa" @ViewBag.CH_TAIYA /><label for="TaiYa">台亞</label>
    <input type="checkbox" name="MerchantGroup" id="TaiSu" value="TaiSu" @ViewBag.CH_TAISU /><label for="TaiSu">台塑</label>
    <input type="checkbox" name="MerchantGroup" id="XiOu" value="XiOu" @ViewBag.CH_XIOU /><label for="XiOu">西歐</label>
    <input type="checkbox" name="MerchantGroup" id="FuMou" value="FuMou" @ViewBag.CH_FUMOU /><label for="FuMou">福懋</label>
    <input type="checkbox" name="MerchantGroup" id="TongYiDuJiaCun" value="TongYiDuJiaCun" @ViewBag.CH_TONGYIDUJIACUN /><label for="TongYiDuJiaCun">統一渡假村</label>
    <label>日期類別：</label>
    @Html.DropDownList("TARGET_DateType", (IEnumerable<SelectListItem>)ViewBag.DateTypeList, "--請選擇--", new { @class = "btn btn-default dropdown-toggle" })
    <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
    <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" onclick="Excel();" />
    <input type="submit" name="ExportDat" value="匯出DAT發票檔" class="btn btn-default" />
</div>
}

@if ( ViewBag.InvoiceList!=null)
{
    <table class="grid" width="100%">
        <thead>
            <tr>
                @{
                    foreach (DataColumn col in ViewBag.InvoiceList.Columns)
                    {
                        <th style="text-align:right;">@col.ColumnName.ToString()</th>
                    }
                }
            </tr>

        </thead>
        <tbody>
            @foreach (DataRow row in ViewBag.InvoiceList.Rows)
            {
                <tr>
                    @foreach (DataColumn col in ViewBag.InvoiceList.Columns)
                    {
                        <td>@row[col.ColumnName].ToString()</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @foreach (DataColumn col in ViewBag.InvoiceList.Columns)
                {
                    //<th style="text-align:right">@col.ColumnName</th>
                }
            </tr>
        </tfoot>
    </table>
}