@model System.Data.DataTable
@using System.Data;


<head>
    <title>@ViewBag.RepName</title>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet">

    <script src="~/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <style type='text/css'>

        .ui-datepicker-calendar {
            display: none;
        }

        .dataTables_scrollBody thead {
            visibility: hidden;
        }

        .group {
            background-color: #333 !important;
            font-size: 15px;
            color: #fff !important;
            opacity: 0.7;
        }

        .hidden {
            display: none;
        }

        tr:hover th, tr:hover td {
            background-color: #ebebeb;
            background-image: none;
        }

        th {
            text-align: right;
        }

        td {
            height: 26px;
            padding: 0px 0px 0px 8px !important;
            text-align: left;
            border-bottom: 1px solid #d0d0d0;
            vertical-align: middle;
            color: #555555;
            background-color: #ffffff;
            text-align: right;
        }
    </style>

    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
    <script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
    <script type="text/javascript">
        $(function () {
            $('#yearMonth').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yymm',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });
    </script>
</head>

<body>
    <h2>@ViewBag.RepName</h2>

    @using (Html.BeginForm("RPT_161002", "ReportBank", FormMethod.Post, new { id = "searchForm" }))
    {
        <div>
            <label for="yearMonth"> 發卡月份:</label>
            <input type="text" name="yearMonth" id="yearMonth" value="@ViewBag.YearMonth" style="width:100px;" /> 

            銀行別
            @Html.DropDownList("bankMerchant", (IEnumerable<SelectListItem>)ViewBag.BanksList, "--請選擇--")

            <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
            <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" />
        </div>
    }

    <table class="grid" width="100%">
        <thead>
            <tr style="background-color: lightgray">
                <th>
                    愛金卡認列日
                </th>
                <th>
                    卡號
                </th>
                <th>
                    申辦原因
                </th>
                <th>
                    第三方聯名
                </th>
                <th>
                    卡款名稱
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @for (int j = 0; j < row.ItemArray.Length; j++)
                    {
                        <td>@row.ItemArray[j].ToString()</td>
                    }
                </tr>
            }

        </tbody>
    </table>
</body>