@model System.Data.DataTable
@using System.Data;
@using System.Globalization;
@using Newtonsoft.Json;
@using Domain;
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
nfi.NumberDecimalDigits = 0;
}

<link href="~/css/jquery.dataTables.css" rel="stylesheet">

<script src="~/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="/css/result-light.css">

<style type='text/css'>
    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 15px;
        color: #fff !important;
        opacity: 0.7;
    }

    .hidden {
        display: none;
    }

    tr:hover th, tr:hover td {
        background-color: #ebebeb;
        background-image: none;
    }

    th {
        text-align: right;
    }

    td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }
</style>

<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PAY_TYPE option[value='@ViewBag.PAY_TYPE']").prop("selected", "selected");
    })
</script>
<meta name="viewport" content="width=device-width" />

<title>2021振興券專案請款維護</title>
<h2>2021振興券專案請款維護</h2>

@using (Html.BeginForm("ACInvoiceReport_2021", "ACInvoice", FormMethod.Post, new { id = "searchForm" }))
{
    <div class="form-group">
        <label for="mname">支付類型 :</label>
        @Html.DropDownList("PAY_TYPE", (IEnumerable<SelectListItem>)ViewBag.PAY_TYPE_DDL, new { @class = "btn btn-default dropdown-toggle" })

        <input type="radio" name="COUPON_TP" value="1" @ViewBag.ch1> 振興五倍券　
        <input type="radio" name="COUPON_TP" value="2" @ViewBag.ch2> 好食券

        <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
    </div>
}

<table class="grid" style="width:100%;">
    <thead>
        <tr style="background-color: lightgray;vertical-align:central">
            <th width="40" style="text-align:center">萬元<br />週次</th>
            <th width="80" style="text-align:center">清分日</th>
            <th width="80" style="text-align:center">日期起</th>
            <th width="80" style="text-align:center">日期訖</th>
            <th width="60" style="text-align:center">預撥<br />付款</th>
            <th width="60" style="text-align:center">當期<br />回饋金</th>
            <th width="60" style="text-align:center">累計<br />回饋金</th>
            <th width="60" style="text-align:center">墊付<br />款項</th>
            <th width="60" style="text-align:center">水位</th>
            <th width="60" style="text-align:center">超過50%</th>
            <th width="80" style="text-align:center">當期<br />綁定人數</th>
            <th width="80" style="text-align:center">累計<br />綁定人數</th>
            <th width="80" style="text-align:center">綁定可<br />請款金額</th>
            <th width="80" style="text-align:center">預計<br />請款金額<br />(綁定+回饋)</th>
            <th width="60" style="text-align:center">請款<br />期數</th>
            @*<th width="60" style="text-align:center">已領取</th>
            <th width="60" style="text-align:center">未領取</th>*@
            <th width="60" style="text-align:center">是否<br />請款</th>
            <th width="60" style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
        @{ int irow = 0;
            List<ACInvoiceData2021> list = ViewBag.INVOICE_LIST;
        }
        @foreach (var item in ViewBag.INVOICE_LIST)
        {
            //dynamic BALANCE;
            //dynamic PRE_ISSUANCE_AMT;



            //if (irow == 0)
            //{
            //    PRE_ISSUANCE_AMT = list[irow].PRE_ISSUANCE_AMT;
            //}
            //else
            //{
            //    if (list[irow - 1].IS_APPLY == "N")
            //    {
            //        PRE_ISSUANCE_AMT = list[irow].PRE_ISSUANCE_AMT;
            //    }
            //    else
            //    {
            //        PRE_ISSUANCE_AMT = (list[irow - 1].TOTAL_BINDING_AMT + list[irow - 1].BALANCE);
            //    }
            //}

            //if (irow == 0)
            //{
            //    BALANCE = list[irow].BALANCE;
            //}
            //else
            //{
            //    if (list[irow - 1].IS_APPLY == "N")
            //    {
            //        BALANCE = list[irow].BALANCE;
            //    }
            //    else
            //    {
            //        BALANCE = list[irow].TOTAL_REWARD_AMT - PRE_ISSUANCE_AMT;
            //    }
            //}


            //list[irow].BALANCE = BALANCE;
            //list[irow].PRE_ISSUANCE_AMT = PRE_ISSUANCE_AMT;

            <tr>
                <td>@item.STAGE</td>
                <td>@item.CPT_DATE.ToString("yyyy/MM/dd")</td>
                <td>@item.REWARD_START_DATE.ToString("yyyy/MM/dd")</td>
                <td>@item.REWARD_END_DATE.ToString("yyyy/MM/dd")</td>
                <td>@((item.PRE_ISSUANCE_AMT).ToString("#,0"))</td>
                <td>@((item.REWARD_AMT).ToString("#,0"))</td>
                <td>@((item.TOTAL_REWARD_AMT).ToString("#,0"))</td>
                <td>@((item.BALANCE).ToString("#,0"))</td>
                <td>@(item.LIMIT)</td>
                <td>@(item.OVER_LIMIT)</td>
                <td>@(item.BINDING_COUNT_MEMBER)</td>
                <td>@(item.TOTAL_BINDING_COUNT)</td>
                <td>@((item.TOTAL_BINDING_AMT).ToString("#,0"))</td>
                <td>@((item.TOTAL_BINDING_AMT + item.BALANCE).ToString("#,0"))</td>
                <td>@(item.APPLY_STAGE)</td>
                @*<td>@((item.ACQUIRED_AMT).ToString("#,0"))</td>
                <td>@((item.NOT_ACQUIRE_AMT).ToString("#,0"))</td>*@
                <td>@((item.IS_APPLY == "Y") ? "是" : "否")</td>
                <td>@Html.ActionLink("編輯", "ACInvoiceEdit_2021", new { member_id = ViewBag.PAY_TYPE, reward_start_date = item.REWARD_START_DATE.ToString("yyyyMMdd"), reward_end_date = item.REWARD_END_DATE.ToString("yyyyMMdd"), coupon_tp = ViewBag.COUPON_TP, rowdata = JsonConvert.SerializeObject(list[irow]) })</td>
            </tr>
            irow++;
        }
    </tbody>
</table>






