@model System.Data.DataTable
@using System.Data;
@using System.Globalization;
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberDecimalDigits = 0;
}

<link href="~/css/jquery.dataTables.css" rel="stylesheet">

<script src="~/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="/css/result-light.css">

<style type='text/css'>
    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 15px;
        color: #fff !important;
        opacity: 0.7;
    }

    .hidden {
        display: none;
    }

    tr:hover th, tr:hover td {
        background-color: #ebebeb;
        background-image: none;
    }

    th {
        text-align: right;
    }

    td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }
</style>

<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"></script>
<script type="text/javascript">
    $(function () {
        $('#SettleDate').datepicker({ dateFormat: 'yymmdd' });
    });
</script>
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.RepName</title>

<h2>@ViewBag.RepName</h2>


    @using (Html.BeginForm("Index_Store", "GmAccountStore", FormMethod.Post, new { id = "searchForm" }))
    {
        <div>
            @Html.Partial("_Merchant_Store")
            <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
            <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" />
        </div>
    }

    @if (Model.Rows.Count > 0)
    {
        <table class="grid" width="100%">
            <thead>
                <tr style="background-color: lightgray">
                    <th>特約機構代碼</th>
                    <th>門市代碼</th>
                    <th width="20%">門市名稱</th>
                    <th width="10%">門市代號對應值</th>
                    <th width="20%">摘要欄位</th>
                    <th>類別</th>
                    <th>撥付類別</th>
                    <th>關係人</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>

                        @for (int j = 0; j < row.ItemArray.Length; j++)
                        {
                            <td>@row.ItemArray[j].ToString()</td>
                            if (j == row.ItemArray.Length - 1)
                            {
                                var editLink = Url.Action("Edit_Store", new { merchant = row["MERCHANT_NO"], storeno = row["STORE_NO"] });
                                <td><a href="@editLink" title="編輯">編輯</a></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }





