@model AMS.ViewModels.ApplicationItemSums

@{
    ViewBag.Title = "檢視申請表";
}


<style>
    .all {
        display: inline-block;
    }

    .under td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }

    #ADJApplication_ADJ_REMARK {
        
        border: 1px solid #808080;
    }

    #ADJApplication_REPLY_REMARK {
        
        border: 1px solid #808080;
    }
</style>

<h2>檢視申請表</h2>
<div class="all">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <hr />
        @Html.ValidationSummary(true)
        



        <table>
            <tr class="top-row">

                <td class="item">

                    @Html.LabelFor(model => model.ADJApplication.APP_DATE)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ADJApplication.APP_DATE)
                    @Html.ValidationMessageFor(model => model.ADJApplication.APP_DATE)

                </td>


                <td class="item">
                    @Html.LabelFor(model => model.ADJApplication.OPP_DATE_START)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ADJApplication.OPP_DATE_START)
                    @Html.ValidationMessageFor(model => model.ADJApplication.OPP_DATE_START)
                </td>



                <td class="item">

                    @Html.LabelFor(model => model.ADJApplication.OPP_DATE_END)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ADJApplication.OPP_DATE_END)
                    @Html.ValidationMessageFor(model => model.ADJApplication.OPP_DATE_END)
                </td>

            </tr>
            <tr class="second-row">

                <td class="item">
                    @Html.LabelFor(model => model.ADJApplication.FORM_SERIAL)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ADJApplication.FORM_SERIAL)
                    @Html.ValidationMessageFor(model => model.ADJApplication.FORM_SERIAL)

                </td>

            </tr>
        </table>
        
        <h3>應收項目</h3>
        <table>
            <tr class="under">
                <td>項次</td>
                <td>調整項目</td>
                <td>筆數</td>
                <td>金額</td>
                <td>備註</td>
                <td></td>
            </tr>
            @{ 
        int countr = 0;
        decimal sumr = 0;
             }
            @foreach (var ar in Model.ARCountAmount)
            {
                    <tr class ="under">
                        <td>@ar.Item1</td><td>@ar.Item2</td><td>@ar.Item3</td><td>@ar.Item4</td><td>@ar.Item5</td></tr>
                countr += ar.Item3;
                sumr += ar.Item4;
            }
            <tr class="under"><td>應收合計</td><td></td><td>@countr</td><td>@sumr</td><td></td><td></td></tr>

        </table>
                
        <br/>
        <h3>應付項目</h3>
        
        <table>
            @{
            int countp = 0;
            decimal sump = 0;
             }
            <tr class="under"><td>項次</td><td>調整項目</td><td>筆數</td><td>金額</td><td>備註</td><td></td></tr>
            @foreach (var ap in Model.APCountAmount)
            {
                
                <tr class="under"><td>@ap.Item1</td><td>@ap.Item2</td><td>@ap.Item3</td><td>@ap.Item4</td><td>@ap.Item5</td></tr>
                countp += ap.Item3;
                sump += ap.Item4;
            }
            
            <tr class="under"><td>應付合計</td><td></td><td>@countp</td><td>@sump</td><td></td><td></td></tr>
        </table>
        
        
        <br/>
            { decimal sum = sumr - sump; 
        <p>應收應付合計: @sum</p>
            }
        <br/>

        <div class="form-group">
            @Html.LabelFor(model => model.ADJApplication.ADJ_REMARK, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ADJApplication.ADJ_REMARK, new { @cols = "200", @rows = "3", @readonly = "" })
                @Html.ValidationMessageFor(model => model.ADJApplication.ADJ_REMARK)
            </div>
        </div>
        
        <br/>
        <br/>

        <div class="form-group">
            @Html.LabelFor(model => model.ADJApplication.REPLY_REMARK, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ADJApplication.REPLY_REMARK, new { @cols = "200", @rows = "3", @readonly = "" })
                @Html.ValidationMessageFor(model => model.ADJApplication.REPLY_REMARK)
            </div>
        </div>

        <br/>
        <br/>
        <!--
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        -->

    }

    <div>
        @Html.ActionLink("取消回查詢列表", "Index" ,new { begin=Session["beginDate"], end = Session["endDate"]})
    </div>
</div>




