@model AMS.Models.AmUsersModel

@{
    ViewBag.Title = "Index";
}

<h2>系統使用者</h2>
<p>
    選擇狀態
    @Html.DropDownList("Status")
</p>
<p>

    @Html.ActionLink("新增系統使用者", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AmUsersList)
    {
            <tr>
                <td>
                    <font>@item.Username</font>
                </td>
                <td>
                    <font> @item.Name</font>
                </td>
                <td>
                    <font> @item.Role</font>
                </td>
                <td>
                    <font>
                        @if (item.RegDate.ToString("yyyy") != "0001")
                        {
                            @item.RegDate
                        }

                    </font>
                </td>
                <td>
                    <font> @item.UpdateDate</font>
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { username = item.Username }) |
                    @Html.ActionLink("變更密碼", "ChangePassword", new { username = item.Username }) |
                    @Html.ActionLink("刪除", "Delete", new { username = item.Username }, new { onclick = "return confirm('確定要刪除使用者嗎?');" })
                </td>
            </tr>
        
    }
</table>

<script>

    $("#Status").change(function () {
        @*location = "http://" + '@Request.Url.Authority' + '@Request.ApplicationPath' + '/AmUsers/Index?status=' + this.value;*@
        location = '@Request.ApplicationPath'+ '/AmUsers/Index?status=' + this.value;
    });

</script>

