@model System.Data.DataTable
@using System.Data;
@using System.Globalization;
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberDecimalDigits = 0;
    ViewBag.Title = "發卡機構月結款項彙總表";
   
}

<link rel="stylesheet" type="text/css" href="/css/result-light.css">


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">



<script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>



<script type='text/javascript' src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

@if (ViewBag.Count > 0) { 
<style type='text/css'>
    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 15px;
        color: #fff !important;
        opacity: 0.7;
    }

    .hidden {
        display: none;
    }

    tr:hover th, tr:hover td {
        background-color: #ebebeb;
        background-image: none;
    }

    td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }
</style>



}

<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yymm',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });
    });
    //$(function () {
    //    $('#StartDate').datepicker({ dateFormat: 'yymmdd' });
    //    $('#EndDate').datepicker({ dateFormat: 'yymmdd' });
    //});
</script>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<h2>發卡機構月結款項彙總表</h2>

@using (Html.BeginForm("Report0323Result", "Report", FormMethod.Post, new { id = "searchForm" }))
{
    <div>
        <label for="startDate">年月 :</label>
        <input type="text" name="StartDate" id="StartDate" class="date-picker" value="@ViewBag.Start" style="width:80px;" />
        銀行特約機構 : <a style="visibility:visible">@Html.DropDownList("Merchant")</a>
        清算週期 : @ViewBag.Rang
        <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
        <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" />
    </div>
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">

	var message = @Html.Raw(Json.Encode(TempData["message"]))
	alert(message);
    </script>
}

@if (ViewBag.Count > 0)
{
    int k = 0;
    <table class="grid" width="100%">
        <thead>
            <tr style="background-color: lightgray">
                @foreach (DataColumn col in Model.Columns)
                {
                    <th style="text-align: center; border: solid; border-color: grey">@col.ColumnName</th>
                }
            </tr>
        </thead>

        <tbody>

            @foreach (DataRow row in Model.Rows)
            {
                int j = 0;
                k++;
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        string colValue = row[col.ColumnName].ToString();
                        j++;
                        if (j ==2 )
                        {
                            Int32 t = Int32.Parse(row[col.ColumnName].ToString());
                            colValue = t.ToString("N", nfi);
                            <td style="text-align: right; border: solid; border-color: grey">@colValue</td>

                        }
                        else
                        {
                            <td style="text-align: center; border: solid; border-color: grey">@colValue</td>
                        }
                    }
                </tr>
            }



        </tbody>
        <tfoot>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    //<th>@col.ColumnName</th>
                    <th></th>
                }
                <th></th>
            </tr>
        </tfoot>
    </table>


}

<script>

    $("#StartDate").change(function () {
        location = "http://" + '@Request.Url.Authority' + '@Request.ApplicationPath' + '/Report/Report0323Result?SDate=' + this.value ;
    });

</script>
