@model System.Data.DataTable
@using System.Data;
@using System.Globalization;
@{
    NumberFormatInfo nfi = new CultureInfo("en-US", false).NumberFormat;
    nfi.NumberDecimalDigits = 0;
    ViewBag.Title = "每日交易趨勢圖(數量)";
   
}

<link rel="stylesheet" type="text/css" href="/css/result-light.css">


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">



<script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>



<script type='text/javascript' src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

@if (ViewBag.Count > 0) { 
<style type='text/css'>
    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 15px;
        color: #fff !important;
        opacity: 0.7;
    }

    .hidden {
        display: none;
    }

    tr:hover th, tr:hover td {
        background-color: #ebebeb;
        background-image: none;
    }

    td {
        height: 26px;
        padding: 0px 0px 0px 8px !important;
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        vertical-align: middle;
        color: #555555;
        background-color: #ffffff;
        text-align: right;
    }
</style>





}

<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
<script type="text/javascript">
    $(function () {
        $('#StartDate').datepicker({ dateFormat: 'yymmdd' });
        $('#EndDate').datepicker({ dateFormat: 'yymmdd' });
    });

    $(document).ready(function () {
        d = new Date();
        $("#image1").attr("src", "../images/Image.jpg?" + d.getTime());
        })
</script>

<h2>每日交易趨勢圖(數量)</h2>

@using (Html.BeginForm("Report0116Result", "Report", FormMethod.Post, new { id = "searchForm" }))
{
    <div>
        <label for="startDate">時間區間 :</label>
        <input type="text" name="StartDate" id="StartDate" value="@ViewBag.Start" style="width:100px;" /> -
        <input type="text" name="EndDate" id="EndDate" value="@ViewBag.End" style="width:100px;" />
        特約機構: <a style="visibility: visible">@Html.DropDownList("Merchant")</a>
        <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
    </div>
}


@if (ViewBag.Count > 0)
{
    <img id="image1" src="..\images\Image.jpg" alt="" />
    
    <table style="display: normal" class="grid" width="100%">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <th style="text-align:right">@col.ColumnName</th>
                }
            </tr>

        </thead>
        <tbody>

            @foreach (DataRow row in Model.Rows)
            {
                int j = 0;
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        string colValue = row[col.ColumnName].ToString();
                        j++;
                        if (j > 1)
                        {
                            Int32 t = Int32.Parse(row[col.ColumnName].ToString());
                            colValue = t.ToString("N", nfi);

                        }
                        <td>@colValue</td>
                    }
                </tr>
            }



        </tbody>
        <tfoot>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    //<th>@col.ColumnName</th>
                }
            </tr>
        </tfoot>
    </table>

        
}


