@model AMS.Models.CrBankAdjcaseMTmpModel
@{
    ViewBag.Title = "新增帳務調整";
}

<h2>新增帳務調整</h2>
<link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
<script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
<script type="text/javascript">
    $(function () {
        $('#AdjDate').datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>

    @using (Html.BeginForm("CreateBankAdj", "BankAdj", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.AdjCaseInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdjCaseInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdjCaseInfo, "", new { @class = "text-danger" })
                    (字數限制：10)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdjCaseContext, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdjCaseContext, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdjCaseContext, "", new { @class = "text-danger" })
                    (字數限制：25)
                </div>
            </div>

         <div class="form-group">
            @Html.LabelFor(model => model.AdjDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdjDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdjDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdjFlag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdjFlag")
                @Html.ValidationMessageFor(model => model.AdjFlag, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增" class="btn btn-default" />
                </div>
            </div>
        </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/localization/messages_zh_TW.js"> </script>
}

