@model System.Data.DataTable
@using System.Data;


<head>
    <title>@ViewBag.RepName</title>

    <link href="~/css/jquery.dataTables.css" rel="stylesheet">

    <script src="~/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <style type='text/css'>
        .dataTables_scrollBody thead {
            visibility: hidden;
        }

        .group {
            background-color: #333 !important;
            font-size: 15px;
            color: #fff !important;
            opacity: 0.7;
        }

        .hidden {
            display: none;
        }

        tr:hover th, tr:hover td {
            background-color: #ebebeb;
            background-image: none;
        }

        th {
            text-align: right;
        }

        td {
            height: 26px;
            padding: 0px 0px 0px 8px !important;
            text-align: left;
            border-bottom: 1px solid #d0d0d0;
            vertical-align: middle;
            color: #555555;
            background-color: #ffffff;
            text-align: right;
        }
    </style>

    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
    <script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
    <script type="text/javascript">
        $(function () {
            $('#StartDate').datepicker({ dateFormat: 'yymmdd' });
            $('#EndDate').datepicker({ dateFormat: 'yymmdd' });

        });

    </script>
    <script>
        $(document).ready(function () {
            @*$("#group option[value='@ViewBag.groups']").prop("selected", "selected");
        $("#retail").hide();
        $("#bus").hide();
        $("#bike").hide();
        $("#track").hide();
        $("#parking").hide();
        $("#outsourcing").hide();
        var groups = "@ViewBag.groups";
        var groupSelected;
        if (groups == "PARKING_LOT")
        { groupSelected = "parking"; }
        else if (groups == "BANK_OUTSOURCING")
        { groupSelected = "outsourcing"; }
        else
        { groupSelected = groups.toLowerCase(); }

        $("#"+groupSelected).show();

        var testVar="@ViewBag.groups";
        switch(testVar)
        {
            case "RETAIL":
                $("#retail option[value='@ViewBag.retails']").prop("selected", "selected");
                break;

            case "BUS":
                $("#bus option[value='@ViewBag.buses']").prop("selected", "selected");
                break;

            case "BIKE":
                $("#bike option[value='@ViewBag.bikes']").prop("selected", "selected");
                break;

            case "TRACK":
                $("#track option[value='@ViewBag.tracks']").prop("selected", "selected");
                break;

            case "PARKING_LOT":
                $("#parking option[value='@ViewBag.parkings']").prop("selected", "selected");
                break;

            case "BANK_OUTSOURCING":
                $("#outsourcing option[value='@ViewBag.outsourcings']").prop("selected", "selected");
                break;
        }


        $("#group").on("change", function () {
            switch ($(this).val()) {
                case "RETAIL":
                    $("#retail").show();
                    $("#bus").hide();
                    $("#bike").hide();
                    $("#track").hide();
                    $("#parking").hide();
                    $("#outsourcing").hide();
                    break;
                case "BUS":
                    $("#retail").hide();
                    $("#bus").show();
                    $("#bike").hide();
                    $("#track").hide();
                    $("#parking").hide();
                    $("#outsourcing").hide();
                    break;
                case "BIKE":
                    $("#retail").hide();
                    $("#bus").hide();
                    $("#bike").show();
                    $("#track").hide();
                    $("#parking").hide();
                    $("#outsourcing").hide();
                    break;
                case "TRACK":
                    $("#retail").hide();
                    $("#bus").hide();
                    $("#bike").hide();
                    $("#track").show();
                    $("#parking").hide();
                    $("#outsourcing").hide();
                    break;
                case "PARKING_LOT":
                    $("#retail").hide();
                    $("#bus").hide();
                    $("#bike").hide();
                    $("#track").hide();
                    $("#parking").show();
                    $("#outsourcing").hide();
                    break;
                case "BANK_OUTSOURCING":
                    $("#retail").hide();
                    $("#bus").hide();
                    $("#bike").hide();
                    $("#track").hide();
                    $("#parking").hide();
                    $("#outsourcing").show();
                    break;
                default:
                    $("#retail").hide();
                    $("#bus").hide();
                    $("#bike").hide();
                    $("#track").hide();
                    $("#parking").hide();
                    $("#outsourcing").hide();
                    break;
            }
        })*@
        })

    </script>
</head>
<body>

    <h2>@ViewBag.RepName</h2>

    @using (Html.BeginForm("RPT_190901", "ReportACT", FormMethod.Post, new { id = "searchForm" }))
    {
        <div>
            <label for="settleDate"> 清分日期:</label>
            <input type="text" name="StartDate" id="StartDate" value="@ViewBag.StartDate" style="width:100px;" /> -
            <input type="text" name="EndDate" id="EndDate" value="@ViewBag.EndDate" style="width:100px;" />
           


            <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
            <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" />
        </div>
    }

    <table class="grid" width="100%">
        <thead>
            <tr style="background-color: lightgray">
                <th>
                    交易年月 
                </th>
                <th>
                    加總-交易金額
                </th>
                <th>
                    加總-交易筆數
                </th>
                <th>
                    手續費率
                </th>
                <th>
                    手續費
                </th>

            </tr>
        </thead>
        @if (Model.Rows.Count != 0)
        {
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @for (int j = 0; j < row.ItemArray.Length; j++)
                        {
                            if (j > 0)
                            {
                                if (j != 3)
                                {
                                    <td>@Convert.ToDecimal(row.ItemArray[j]).ToString("#,##0")</td>
                                }
                                else { <td>@Convert.ToDecimal(row.ItemArray[j]).ToString("0.00")</td>}
                            }
                            else
                            {
                                <td>@row.ItemArray[j].ToString()</td>
                            }
                        }
                        
                       
                    </tr>

                }
                    @{
                        var dt3 = ViewBag.DT3;
                        if (dt3.Rows.Count > 0)
                        {
                            <td>@dt3.Rows[0][0].ToString()</td>
                            <td>@dt3.Rows[0][1].ToString("#,##0")</td>
                            <td>@dt3.Rows[0][2].ToString("#,##0")</td>
                            <td>@dt3.Rows[0][3].ToString("0.00")</td>
                            <td>@dt3.Rows[0][4].ToString("#,##0")</td>
                        }


}
            </tbody>
        }
    </table>
</body>
