@model System.Data.DataTable
@using System.Data;

<!DOCTYPE html>
<head>
    <title>@ViewBag.RepName</title>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet">

    <script src="~/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <style type='text/css'>
        .ui-datepicker-calendar {
            display: none;
        }

        .dataTables_scrollBody thead {
            visibility: hidden;
        }

        .group {
            background-color: #333 !important;
            font-size: 15px;
            color: #fff !important;
            opacity: 0.7;
        }

        .hidden {
            display: none;
        }

        tr:hover th, tr:hover td {
            background-color: #ebebeb;
            background-image: none;
        }

        th {
            text-align: right;
        }

        td {
            height: 26px;
            padding: 0px 0px 0px 8px !important;
            text-align: left;
            border-bottom: 1px solid #d0d0d0;
            vertical-align: middle;
            color: #555555;
            background-color: #ffffff;
            text-align: right;
        }
    </style>

    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
    <script type="text/javascript" src="~/Scripts/datepicker-zh-TW.js"> </script>
    <script type="text/javascript">
        $(function () {
            $('#yearMonth').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yymm',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });
    </script>
</head>

<body>
    <h2>@ViewBag.RepName</h2>

    @using (Html.BeginForm("RPT_170401", "ReportACT", FormMethod.Post, new { id = "searchForm" }))
    {
        <div>
            <label for="yearMonth"> 報表年月:</label>
            <input type="text" name="yearMonth" id="yearMonth" value="@ViewBag.YearMonth" style="width:100px;" />

            <input type="submit" name="searchConfirm" value="搜尋" class="btn btn-default" />
            <input type="submit" name="ExportExcel" value="匯出Excel" class="btn btn-default" />
        </div>
    }

    <table class="grid" width="100%">
        <thead>
            <tr style="background-color: lightgray">
                <th>
                    月份
                </th>
                <th>
                    icash支付代收售金額(A) A=B+C
                </th>
                <th>
                    聯名卡支付代收售金額(B)
                </th>
                <th>
                    非聯名卡支付代收售金額(B)
                </th>
                <th>
                    非聯名卡支付代收售現金儲值成本(D) D=C*0.2%
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @for (int j = 0; j < row.ItemArray.Length; j++)
                    {
                        if (DBNull.Value.Equals(row.ItemArray[j]))
                        { <td></td>}
                        else
                        { 
                            if (j >= 1 && j <= 3)
                            {
                                <td>@Convert.ToInt64(row.ItemArray[j]).ToString("n0")</td> 
                            }
                            else if (j==4)
                            {
                                <td>@Convert.ToDecimal(row.ItemArray[j]).ToString("n2")</td>
                            }
                            else
                            {
                                <td>@row.ItemArray[j].ToString()</td> 
                            }
                        }
                    }
                </tr>
            }

        </tbody>
    </table>
</body>


