@using System.Data;
@using Domain.Common;
@using Domain.ICASHOPMerchant;
@using Newtonsoft.Json;

@{
    Layout = null;
    ExecInfo ei = ViewBag.ExecInfo;
    DataTable dt_QueryResult = ViewBag.QueryResult;
    PageCountViewModel pcv = ViewBag.PageModel;
}

@if (ei.RtnResult == false)
{
    @*查詢失敗*@
    <script>
        fun_AlertCtrl(true, "@(ei.RtnMsg)");
    </script>
}
else
{
    @*查詢成功*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">自串點數特店主檔清單</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>統一編號</th>
                    <th>愛金編特店代號</th>
                    <th>特店名稱</th>
                    <th>建立人員</th>
                    <th>建立時間</th>
                    <th>更新人員</th>
                    <th>更新時間</th>
                    <th>編輯</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in dt_QueryResult.AsEnumerable().OrderBy(x => x.Field<string>("UnifiedBusinessNo")))
                {
                    <tr>
                        <td>@dr["UnifiedBusinessNo"].ToString()</td>
                        <td>@dr["ICashMID"].ToString()</td>
                        <td>@dr["MerchantName"].ToString()</td>
                        <td>@dr["CreateUser"].ToString()</td>
                        <td>@(dr["CreateDate"] == DBNull.Value ? string.Empty : DateTime.Parse(dr["CreateDate"].ToString()).ToString("yyyy/MM/dd HH:mm:ss"))</td>
                        <td>@dr["UpdateUser"].ToString()</td>
                        <td>@(dr["UpdateDate"] == DBNull.Value ? string.Empty : DateTime.Parse(dr["UpdateDate"].ToString()).ToString("yyyy/MM/dd HH:mm:ss"))</td>
                        <td>
                            @{
                                string jsonstr_EditReq = JsonConvert.SerializeObject(new EditReq
                                {
                                    EditType = EditReq.en_EditType.Modify,
                                    UnifiedBusinessNo = @dr["UnifiedBusinessNo"].ToString(),
                                    MerchantName = @dr["MerchantName"].ToString(),
                                    Trans_FTPType = @dr["Trans_FTPType"].ToString(),
                                    Trans_FtpHost = @dr["Trans_FtpHost"].ToString(),
                                    Trans_FtpPort = @dr["Trans_FtpPort"].ToString(),
                                    Trans_FtpUser = @dr["Trans_FtpUser"].ToString(),
                                    Trans_FtpPwd = @dr["Trans_FtpPwd"].ToString(),
                                    Trans_PoxyIP = @dr["Trans_PoxyIP"].ToString(),
                                    Trans_PoxyPort = @dr["Trans_PoxyPort"].ToString(),
                                    Trans_PoxyUser = @dr["Trans_PoxyUser"].ToString(),
                                    Trans_PoxyPwd = @dr["Trans_PoxyPwd"].ToString(),
                                    Trans_FtpDir = @dr["Trans_FtpDir"].ToString(),
                                    Store_FTPType = @dr["Store_FTPType"].ToString(),
                                    Store_FtpHost = @dr["Store_FtpHost"].ToString(),
                                    Store_FtpPort = @dr["Store_FtpPort"].ToString(),
                                    Store_FtpUser = @dr["Store_FtpUser"].ToString(),
                                    Store_FtpPwd = @dr["Store_FtpPwd"].ToString(),
                                    Store_PoxyIP = @dr["Store_PoxyIP"].ToString(),
                                    Store_PoxyPort = @dr["Store_PoxyPort"].ToString(),
                                    Store_PoxyUser = @dr["Store_PoxyUser"].ToString(),
                                    Store_PoxyPwd = @dr["Store_PoxyPwd"].ToString(),
                                    Store_FtpDir = @dr["Store_FtpDir"].ToString(),
                                    Store_FileType = @dr["Store_FileType"].ToString()
                                });
                            }
                            <a onclick="fun_ToEditPage(this);" data_EditReq="@jsonstr_EditReq" style="cursor:pointer;">編輯</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            @*分頁*@
            @Html.Partial("_PageView", pcv)
        </div>
        <div class="panel-footer"></div>
    </div>
}